<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ticket.orders.mapper.OrderMapper">
    <insert id="insertOrder">
        insert into ticket.t_order
        (
            order_no,       -- 订单编号
            user_id,        -- 用户ID
            ticket_type_id, -- 门票类型ID
            status,         -- 订单状态
            created_at,     -- 创建时间
            updated_at,     -- 更新时间
            event_id        -- 活动ID
        )
        values
            (
                #{orderNo},     -- 对应 order_no
                #{userId},      -- 对应 user_id
                #{ticketId},    -- 对应 ticket_type_id
                #{status},      -- 对应 status
                #{createTime},  -- 对应 created_at
                #{createTime},  -- 对应 updated_at（和创建时间一致）
                #{eventId}      -- 对应 event_id
            );
    </insert>
</mapper>