<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ticket.events.mapper.TicketsMapper">
    <update id="decrStock">
        update t_ticket_type
        set remain_stock = t_ticket_type.remain_stock - 1
        where id = #{ticketId}
    </update>
    <select id="getDetails" resultType="com.ticket.events.entity.TicketType">
        select id, event_id, name, price, total_stock, remain_stock, per_limit
        from t_ticket_type where event_id = #{eventId};
    </select>
    <select id="getAllData" resultType="com.ticket.events.entity.TicketType">
        select id, event_id, total_stock
        from t_ticket_type
    </select>

</mapper>